@theme {
  /* --font-family-sans: 'Titillium Web', sans-serif; */
  /* --font-family-mono: 'Titillium Web', sans-serif; */
  --font-family-alt: var(--font-family-sans);
  --font-family-heading: var(--font-family-sans);
  
  /** Colors */
  --color-muted-50: var(--color-gray-50);
  --color-muted-100: var(--color-gray-100);
  --color-muted-200: var(--color-gray-200);
  --color-muted-300: var(--color-gray-300);
  --color-muted-400: var(--color-gray-400);
  --color-muted-500: var(--color-gray-500);
  --color-muted-600: var(--color-gray-600);
  --color-muted-700: var(--color-gray-700);
  --color-muted-800: var(--color-gray-800);
  --color-muted-900: var(--color-gray-900);
  --color-muted-950: var(--color-gray-950);
  
  --color-primary-invert: var(--color-white);
  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  --color-primary-950: var(--color-purple-950);
  
  --color-info-50: var(--color-sky-50);
  --color-info-100: var(--color-sky-100);
  --color-info-200: var(--color-sky-200);
  --color-info-300: var(--color-sky-300);
  --color-info-400: var(--color-sky-400);
  --color-info-500: var(--color-sky-500);
  --color-info-600: var(--color-sky-600);
  --color-info-700: var(--color-sky-700);
  --color-info-800: var(--color-sky-800);
  --color-info-900: var(--color-sky-900);
  --color-info-950: var(--color-sky-950);
  
  --color-success-50: var(--color-teal-50);
  --color-success-100: var(--color-teal-100);
  --color-success-200: var(--color-teal-200);
  --color-success-300: var(--color-teal-300);
  --color-success-400: var(--color-teal-400);
  --color-success-500: var(--color-teal-500);
  --color-success-600: var(--color-teal-600);
  --color-success-700: var(--color-teal-700);
  --color-success-800: var(--color-teal-800);
  --color-success-900: var(--color-teal-900);
  --color-success-950: var(--color-teal-950);
  
  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);
  
  --color-danger-50: var(--color-rose-50);
  --color-danger-100: var(--color-rose-100);
  --color-danger-200: var(--color-rose-200);
  --color-danger-300: var(--color-rose-300);
  --color-danger-400: var(--color-rose-400);
  --color-danger-500: var(--color-rose-500);
  --color-danger-600: var(--color-rose-600);
  --color-danger-700: var(--color-rose-700);
  --color-danger-800: var(--color-rose-800);
  --color-danger-900: var(--color-rose-900);
  --color-danger-950: var(--color-rose-950);
}
